In [3]:
import pandas as pd
import numpy as np
import seaborn as sns

train = pd.read_csv('./train.csv')
test = pd.read_csv('./test.csv')

In [6]:
print(train.shape)
train.head(2)

(8693, 14)

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True

In [7]:
print(test.shape)
test.head(2)

(4277, 13)

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name
0,0013_01,Earth,True,G/3/S,TRAPPIST-1e,27.0,False,0.0,0.0,0.0,0.0,0.0,Nelly Carsoning
1,0018_01,Earth,False,F/4/S,TRAPPIST-1e,19.0,False,0.0,9.0,0.0,2823.0,0.0,Lerome Peckers

In [8]:
label_name = 'Transported'

In [11]:
features = ['HomePlanet','CryoSleep','Age','VIP']

In [39]:
# train['HomePlanet'].isnull() == etc

train['HomePlanet'] = train['HomePlanet'].fillna('Etc')
test['HomePlanet'] = test['HomePlanet'].fillna('Etc')

In [40]:
train['CryoSleep'] = train['CryoSleep'].fillna('Etc')
test['CryoSleep'] = test['CryoSleep'].fillna('Etc')

In [42]:
train['Age'] = train['Age'].fillna(train['Age'].median())
test['Age'] = test['Age'].fillna(test['Age'].median())

In [43]:
train['VIP'] = train['VIP'].fillna('Etc')
test['VIP'] = test['VIP'].fillna('Etc')

In [44]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier

X_train = pd.get_dummies(train[features])
X_test = pd.get_dummies(test[features])
y_train = train[label_name]

# model = DecisionTreeClassifier(max_depth=5, random_state=1)
model = RandomForestClassifier(n_estimators=100, max_depth=5, random_state=42)
model.fit(X_train, y_train)
predictions = model.predict(X_test)

output = pd.DataFrame({'PassengerId': test.PassengerId, 'Transported': predictions})
# output.to_csv('submission_Tree.csv', index=False)
# print("Your submission was successfully saved!")

In [46]:
sample = pd.read_csv('./sample_submission.csv')
sample['Transported'] = output['Transported']

In [47]:
sample.head()

  PassengerId  Transported
0     0013_01         True
1     0018_01        False
2     0019_01         True
3     0021_01        False
4     0023_01        False

In [49]:
sample.to_csv('my_submission.csv', index=False)